body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background 0.3s;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background-color 0.3s;
    display: flex;
    align-items: center;
}

nav ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    transition: transform 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

nav ul li a:hover img {
    transform: scale(1.2);
}

section {
    padding: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home {
    background: lightblue;
    background-image: url("n11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

#services {
    background: lightgreen;
    background-image: url("n222.jpg"), linear-gradient(to bottom, #ffcc00, #3366ff);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

#about {
    background: lightcoral;
    background-image: url("n22.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    background: lightgoldenrodyellow;
    background-image: url("flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
